/* @media screen and (max-width: 1300px) {
   .schedule {
      width: 500px;
   }
   .subject {
      width: 86%;
   }
   .weekToggle {
      width: 200px;
   }
   .subjInfo {
      width: 200px;
   }
   .line {
      width: 89%;
   }
}

@media screen and (max-width: 950px) {
   .schedule {
      width: 350px;
   }
   .subject {
      width: 82%;
   }
   .weekToggle {
      width: 200px;
   }
   .subjInfo {
      width: 200px;
   }
   .line {
      width: 85%;
   }
} */

