.schedule {
   display: flex;
   flex-direction: column;
   width: 800px;
   height: 750px;
   margin-top: 40px;
   margin-right: 35px;
   padding-top: 20px;
   transition: all 0.25s ease-in-out;
}

.weekToggle {
   display: flex;
   justify-content: center;
   background-color: var(--bg-secondary);
   width: 250px;
   height: 50px;
   margin-left: 35px;
   margin-top: 50px;
   border-radius: 1rem;
   border: 2px solid var(--gray-3);
   transition: all 0.25s ease-in-out;
}

.subjInfo {
   display: flex;
   justify-content: center;
   background-color: var(--bg-secondary);
   width: 250px;
   height: 420px;
   margin-left: 35px;
   margin-top: 30px;
   border-radius: 1rem;
   border: 2px solid var(--gray-3);
   transition: all 0.25s ease-in-out;
} 

.navigation {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 5%;
   gap: 9%;
   z-index: 1;
}

.days {
   font-family: "Montserrat", sans-serif;
   font-size: 0.8rem;
   font-weight: 600; 
   text-align: center;
   color: var(--btn-color);
   width: 70px;
   height: 25px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.selectedDay {
   color: var(--btn-font-color) !important;
   cursor: default !important;
}

.selectedWrapper {
   position: absolute;
   width: 100px;
   height: 30px;
   border-radius: 1rem;
   background-color: var(--btn-color);
   margin-top: -6px;
   z-index: -1;
   transition: all 0.25s ease-in-out;
}

.navUnderLine {
   background-color: var(--schedule-line);
   width: 100%;
   height: 1px;
}

.subjectList {
   display: flex;
   flex-direction: column;
   margin-top: -20px;
}

.time, .timeFirst {
   color: var(--schedule-time);
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   font-size: 0.8rem;
   margin-top: -10px;
   margin-left: 12px;
}

.timeFirst { margin-top: 5px; }

.line {
   background-color: var(--schedule-line);
   width: 93%;
   height: 1px;
   margin-top: 80px;
   margin-left: auto;
}

.line:last-of-type {
   visibility: hidden;
}
