.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 100vh;
    border-right: 2px solid var(--gray-3);
    font-weight: 500;
    background-color: var(--bg-secondary);
    color: var(--text-color);
    transition: all 0.25s ease-in-out;
}

.sidebar.close {
    width: 70px;
}

.sidebar.close p {
    visibility: hidden;
}

.line {
    background-color: var(--gray-2);
    height: 2px;
    width: 80%;
    margin-top: 8px;
    border-radius: 1px;
    transition: all 0.25s ease-in-out;
}

.sidebar.close .line {
    width: 70%;
}

/* ===== Accaunt Info ===== */

header {
    align-items: center;
    width: 80%;
    margin-top: 10px;
}

.section {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.profileCircle {
    width: 50px;
    height: 50px;
    background-color: var(--gray-4);
    border-radius: 50%;
}

.nameSurname {
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 500;
    margin-left: 14px;
    width: 120px;
    transition: all 0.25s ease-in-out;
}

.sidebarToggle {
    display: flex;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
}

.sidebarToggle i {
    font-size: 1.4rem;
    transform: scaleX(1.2);
    color: var(--sidebar-toggle-default);
    font-variation-settings: 'wght' 300;
    transition: all 0.25s ease-in-out;
}

.sidebarToggle i:hover {
    color: var(--sidebar-toggle-hover);
    transition: all 0.25s ease-in-out;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--btn-color);
    color: var(--btn-font-color);
    width: 70%;
    height: 30px;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    border: none;
    transition: all 0.25s ease-in-out;
}

.settings:hover { border-radius: 10px; }

.themeToggle { visibility: hidden; }

.themeToggle + label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    width: 25%;
    height: 30px;
    transition: all 0.25s ease-in-out;
}

.themeToggle + label::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: var(--theme-toggle-secondary);
    z-index: 0;
    transition: all 0.25s ease-in-out;
}

.themeToggle + label::after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 25px;
    background-color: var(--theme-toggle-primary);
    position: absolute;
    margin-right: 1.4rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in-out, transform 0.25s ease-in-out;
}

label i {
    position: absolute;
    z-index: 100;
    color: var(--theme-toggle-secondary);
    margin-right: 1.4rem;
    font-size: 1rem !important;
    font-variation-settings: 'wght' 400;
    transition: all 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.themeToggle:checked + label::after {
    transform: translateX(100%);
    transition: all 0.25s ease-in-out;
}

.themeToggle:checked + label i {
    transform: translateX(150%);
    transition: all 0.25s ease-in-out;
}

/* ===== Navigation ===== */

.navList {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 72%;
    height: 100%;
}

.link {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    cursor: default;
}

.navItem {
    display: flex;
    align-items: center;
    list-style-type: none;
    column-gap: 15px;
    font-size: 0.9rem;
    margin-top: 30px;
    transition: all 0.25s ease-in-out;
}

.navItem:last-child { 
    margin-top: auto; 
    margin-bottom: 35px;
}

.navItem i { 
    font-size: 1.4rem; 
    font-variation-settings: 'wght' 300;
    cursor: pointer;  
}

.navItem p { cursor: pointer; }

.navItem:has(p:hover), .navItem:has(i:hover) {
    color: var(--navitem-hover);
    transition: all 0.25s ease-in-out;
}

/* ===== Closed SideBar Accaunt Info ===== */

.sidebar.close header {
    margin-top: 20px;
}

.sidebar.close .section {
    flex-wrap: wrap;
    justify-content: center;
}

.sidebar.close .sidebarToggle {
    margin-top: -82px;;
    margin-left: 15%;
    align-items: center;
    position: absolute;
}

.sidebar.close .sidebarToggle i {
    margin-left: -10px;
    font-size: 1.2rem;
}

.sidebar.close .profileCircle {
    margin-bottom: -23px;
}

.sidebar.close .nameSurname {
    font-size: 0;
    z-index: -1;
}

.sidebar.close .settings {
    font-size: 0;
    width: 80%;
    height: 40px;
    margin-left: 0;
}

.sidebar.close .settings span {
    font-size: 0;
    z-index: -1;
}

.sidebar.close .settings i {
    font-size: 1.8rem;
    font-variation-settings: var(--setting-icon-size);
}

.sidebar.close .themeToggle + label {
    margin-left: 0;
    margin-bottom: -10px;
    cursor: pointer;
    width: 80%;
}

.sidebar.close .themeToggle + label::after {
    margin-right: 0.9rem;
}

.sidebar.close label i {
    margin-right: 0.9rem;
}

.sidebar.close .themeToggle:checked + label::after {
    transform: translateX(60%);
}

.sidebar.close .themeToggle:checked + label i {
    transform: translateX(92%);
}

/* ===== Closed SideBar Navigation ===== */

.sidebar.close .link:has(p) {
    visibility: hidden;
}

.sidebar.close .navItem { 
    margin-left: 25%;
}